[submodule "breaktime"]
	path = breaktime
	url = git@github.com:juliamendesc/breaktime.git
[submodule "podcastr"]
	path = podcastr
	url = git@github.com:juliamendesc/podcastr.git
[submodule "NLW06-Let-me-ask-someone"]
	path = NLW06-Let-me-ask-someone
	url = git@github.com:juliamendesc/NLW06-Let-me-ask-someone.git
[submodule "Let-me-ask-someone"]
	path = Let-me-ask-someone
	url = git@github.com:juliamendesc/Let-me-ask-someone.git
